/*------------------------------------*\
  #html/body
\*------------------------------------*/
html {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  background-color: white;
  z-index: 1;
}
.glomarb {
  margin-bottom: 30px;
}
.mar-bot-200 {
  margin-bottom: 200px;
}
.padLR {

  padding-left: 60px;
  padding-right: 60px
}

a {
  text-decoration: none;
}
h4 {
 font-family: 'Shadows Into Light Two', cursive;
 font-family: 'Merienda', cursive;
}


h2 {
  font-family: 'Shadows Into Light Two', cursive;
  font-family: 'Merienda', cursive;
}

.backh2 h2{
  background-color: #CECECE;
}

p {
font-family: 'Port Lligat Sans', sans-serif;
font-family: 'Rajdhani', sans-serif;
line-height: 30px;
font-size: 1.3rem;

}
.quote {

font-family: 'Port Lligat Sans', sans-serif;
font-family: 'Rajdhani', sans-serif;
color: white;
font-weight: 500;
line-height: 20px;
padding-top: 1em;
}
div i p {
  text-align: center;
}
/* text under jumbotron */
.divcenter {
  margin: 0 auto;
  width: 80rem;
}
@media only screen and (max-width: 400px) {
  .divcenter {
    width: 100%;
  }
}
/*------------------------------------*\
  #header/Nav
\*------------------------------------*/
.navcolor {
  background-color: #C7D5EAf;
}
.navfix {
  position:fixed;
  z-index: 9;
  width:100%;
}
.navpad {
padding-top: 50px;
}
.navpadlocal {
padding-top: 70px;
}
/*------------------------------------*\
  # Top Container
\*------------------------------------*/



.pad2top {
   padding-top: 2rem;
}

.farmhouse {
  margin-bottom: 30px;
  margin-top: 30px;

}
.padleft {
  padding-left:100px
}



.brejosimg {

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left:0px;
    margin-right: 0px;
    height: 800px;
    width:100%;
    padding-bottom: 0;
    margin-bottom: 0;

}
.jumbotronbrejos {
  padding-top: 50px;
  padding-bottom: 0;
  margin-bottom: 200px;
  height: 700px;
}
.relspan {
  position: relative;
}
.jumbospan{
  position: absolute;
    top: 15px;
    right: 30px;

    color:white;
}
#fontI {
    font-size: 60px;
    opacity: 0.4;
}
.hideformob {

  display: block;
}
@media only screen and (max-width: 975px) {
    .hideformob {
    display: none;
    }
}
.hideshow {
  display: none;
}
@media only screen and (max-width: 975px) {
    .hideshow {
    display: block;
    }
  }
/* On screens that are 768px or less, change margin and height
*/

  .farmhouseimg {
  background-image: url("../images/farmhouse.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left:0px;
  margin-right: 0px;
  height: 600px;
  width:100%;
  }



/*------------------------------------*\
  #slider
\*------------------------------------*/
.frame {

  width: 60%;
  background:#FFF;
  margin:40px auto;

}
.effect5
{
  position: relative;
}
.effect5:before, .effect5:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 25px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  box-shadow: 0 35px 20px #777;
  transform: rotate(-8deg);
}
.effect5:after
{
  transform: rotate(8deg);
  right: 10px;
  left: auto;
}
.padt {
  padding-top: 2rem;
  padding-bottom: 0.5rem;

}
  .slide div {
     height: 30rem;
     width: auto;
   }

   .slide div img {
     object-position: center;
     height: 30rem;
     width: 100%;
   }
   @media only screen and (max-width: 400px) {
       .hide {
         display: none;
       }
   }

   @media only screen and (max-width: 800px) {
       .hideslide {
         display: none;
       }
   }



/*------------------------------------*\
  #The Three Amigos
\*------------------------------------*/

.padtop {
  padding-top: 10rem;
}
.three {
   height: 40rem;
   width: auto;
   border: 2px;
   line-height: 1.7;
   margin-bottom: 100px;
 }
 @media only screen and (max-width: 400px) {
   .three {
     height: 50rem;
   }
 }
 @media only screen and (max-width: 400px) {
   .padLR {
    padding-left: 5px;
    padding-right: 5px;
   }
 }
 .smframe {

 width: 20rem;
 height: 16rem;
 margin: auto;
 border: 3px solid white;
 margin-top: 2rem;
 box-shadow: 0 2px 2px rgba(0, 0, 0, .25);
 }
 .zoom:hover {
     transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
     transition: 0.50s ease;


 }

 .oldtown {
   background-image: url("../images/oldtown.jpg");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   transition: transform .2s; /* Animation */
 }
 .bedroom {
     background-image: url("../images/bedroom.jpg");
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     transition: transform .2s; /* Animation */

 }
 .beach {
   background-image: url("../images/beach.jpg");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   transition: transform .2s; /* Animation */
 }

 /*----------------wifi signal-----------*/

 .cap {
 height: auto;
 width: 100%;
 padding-top: 30px;
 padding-bottom: 20px;
 color:#AAAFAA;
 }

.wificenter{
margin:auto;

}

 .wifi-symbol {
   display: none;
 }

 .wifi-symbol [foo], .wifi-symbol {
   position: relative;
   top: -75px;
   display: inline-block;
   width: 150px;
   height: 150px;
   left: 75px;
   -ms-transform: rotate(-45deg) translate(-100px);
   -moz-transform: rotate(-45deg) translate(-100px);
   -o-transform: rotate(-45deg) translate(-100px);
   -webkit-transform: rotate(-45deg) translate(-100px);
   transform: rotate(-45deg) translate(-100px);
 }

 .wifi-symbol .wifi-circle {
   box-sizing: border-box;
   -moz-box-sizing: border-box;
   display: block;
   width: 100%;
   height: 100%;
   font-size: 21.42857px;
   position: absolute;
   bottom: 0;
   left: 0;
   border-color: #00A9C2;
   border-style: solid;
   border-width: 1em 1em 0 0;
   -webkit-border-radius: 0 100% 0 0;
   border-radius: 0 100% 0 0;
   opacity: 0;
   -o-animation: wifianimation 2s infinite;
   -moz-animation: wifianimation 2s infinite;
   -webkit-animation: wifianimation 2s infinite;
   animation: wifianimation 2s infinite;
 }

 .wifi-symbol .wifi-circle.first {
   -o-animation-delay: 800ms;
   -moz-animation-delay: 800ms;
   -webkit-animation-delay: 800ms;
   animation-delay: 800ms;
 }

 .wifi-symbol .wifi-circle.second {
   width: 5em;
   height: 5em;
   -o-animation-delay: 400ms;
   -moz-animation-delay: 400ms;
   -webkit-animation-delay: 400ms;
   animation-delay: 400ms;
 }

 .wifi-symbol .wifi-circle.third {
   width: 3em;
   height: 3em;
 }

 .wifi-symbol .wifi-circle.fourth {
   width: 1em;
   height: 1em;
   opacity: 1;
   background-color: #00A9C2;
   -o-animation: none;
   -moz-animation: none;
   -webkit-animation: none;
   animation: none;
 }

 @-o-keyframes wifianimation
 {
   0% {
     opacity: 0.4;
   }
   5% {
     opactiy: 1;
   }
   6% {
     opactiy: 0.1;
   }
   100% {
     opactiy: 0.1;
   }
 }

 @-moz-keyframes wifianimation
 {
   0% {
     opacity: 0.4;
   }
   5% {
     opactiy: 1;
   }
   6% {
     opactiy: 0.1;
   }
   100% {
     opactiy: 0.1;
   }
 }

 @-webkit-keyframes wifianimation
 {
   0% {
     opacity: 0.4;
   }
   5% {
     opactiy: 1;
   }
   6% {
     opactiy: 0.1;
   }
   100% {
     opactiy: 0.1;
   }
 }

/*new script css*/
.ml9 {
  position: relative;
  font-weight: 200;
  font-size: 2em;


}
.ml9 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml9 .letter {
  transform-origin: 50% 100%;
  display: inline-block;
  line-height: 1em;
}

 /*wifi signal end*/
 /*------------------------------------*\
   # Gallery Button link
 \*------------------------------------*/
  .gbt{
    margin:auto;
    display:block;

  }
  .padbtn {

    padding-bottom: 30px;
  }
  .smframe3 {
  height: 14rem;
  width: auto;
  border: 3px solid white;
  margin-top: 2rem;
  box-shadow: 0 2px 2px rgba(0, 0, 0, .25);
  }

  @media only screen and (min-width: 400px) {
      .hideb {
      display:none;
      }
  }
  @media only screen and (max-width: 400px) {
      .cap {
    padding-bottom: 50px;
      }
  }
  /*reduce padding under high speed internet */
  @media only screen and (min-width: 400px) {
      .smframe3 {

      }
  }


/*------------------------------------*\
  #Quote index197
\*------------------------------------*/
 .quotepic {
     background-image: url("../images/beach.jpg");
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     height: 500px;
     background-attachment: fixed;
 }
 .quotepic{
   opacity:1;
 }
 .quotepic:hover {
   opacity: 0.9;
 }
  .pad2bot {
     padding-bottom: 2rem;
  }

   /* pad2top in top container above*/

   /* pad2top in top container above*/
  /*white in top container above*/
  /*padtop in The three amigios above*/
  /*typewriter in top container above */






  /*------------------------------------*\
    #video
  \*------------------------------------*/

.vidtopmar {
  margin-top: 200px;
  margin-bottom: 200px;
}
.vidframe {

width: 25rem;
height: 20rem;
margin: auto;
border: 3px solid white;
margin-top: 2rem;
box-shadow: 0 2px 2px rgba(0, 0, 0, .25);
}
/* On screens that are 768px or less, change margin and height
*/
@media screen and (max-width: 768px) {
  .vidframe {
    margin-left:0px;
    margin-right: 0px;
    width: auto;
  }
}
/*------------------------------------*\
  location
\*------------------------------------*/
.padloc{
padding-bottom: 4rem;

}
.parallax {
   background-attachment: fixed;
}
/*------------------------------------*\
  #Google maps
\*------------------------------------*/
/*white in top conatiner above*/

#mar {
  margin-left: 0;
  margin-right: 0;
}
.mapframe {

width: 25rem;
height: 20rem;
margin: auto;
border: 3px solid white;
margin-top: 2rem;
box-shadow: 0 2px 2px rgba(0, 0, 0, .25);
}

@media screen and (max-width: 768px) {
  .mapframe {
    margin-left:0px;
    margin-right: 0px;
    width: auto;
  }
}
/*------------------------------------*\
                stone2
\*------------------------------------*/
.stone2 {
    background-image: url("../images/stone2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 700px;
    background-attachment: fixed;
    margin-bottom: 100px;
}
/*------------------------------------*\
                transfers
\*------------------------------------*/

.transfers {
  width:60%;
  height:auto;
  margin: auto;
  padding-bottom: 20px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19)
}


@media only screen and (max-width: 400px) {
     .transfers{
    width: 90%;
    }
}
/*------------------------------------*\
  #footer
\*------------------------------------*/

.icon{
  text-align: center;
  /*padtop in The three amigios above*/
}

@media only screen and (min-width: 580px) {
    #show{
      display: none;
    }
}

.footmar {
  margin-top: 200px;
}
/*------------------------------------*\
  #local Aminities Page
\*------------------------------------*/
/*------------------------------------*\
  #Armando
\*------------------------------------*/
.armando {
  background-image: url("../images/rsz_armando.jpg");
  background-repeat: no-repeat;
  max-width: 400px;
  background-position: center;
  background-size: cover;
  min-height:690px;
  border: 2px solid #F5F5DC;
  box-shadow: 0 2px 2px rgba(0, 0, 0, .25);
  margin-left: 60px;
  margin-right: 60px;


}

@media only screen and (max-width: 400px) {
    .armando {
      margin-left: 0px;
      margin-right: 0px;
    }
}

.marRL{
  margin-right: 20px;
  margin-left: 20px;
}
.mar10{
  margin-right: 10px;
  margin-left: 10px;
}

.kaki {
      background-color: #AAAFAA;
}
.grey {
background-color:#DCDCDC;
}

#bod {
padding-bottom: 0;
}
.cen {
  text-align: center;
  align-items: center;
}
.cenil {
  display:inline-block;

}
.gallaryNav {
  background-color: #DBD8CD;
}

.marR{
  margin-right: 30px;
}


.marL{
  margin-left: 30px;
}
.marb{
  margin-bottom: 10rem;:
}


 .firstdiv {
   height: 800px;
   width: 100%;
 }
 .border {
   border: 2px solid white;
 }

 /*------------------------------------*\
/*       Getting Around Page            *\
   #rdpad
 \*------------------------------------*/


  .strech-body {
  height: 1000px;
  width: auto;
  }
  .getting-around {
    padding-top: 30px;
    margin-left:200px;
    margin-right: 200px;
    padding-bottom: 30px;
    margin-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }
 @media only screen and (max-width: 400px) {
     .rdpad {
       padding-left: 5px;
       padding-right: 5px;
     }
 }



.pushi {
  padding-top: 8em;
}



.row-centered {
text-align:center;
}
.col-centered {
display:inline-block;
float:none;
/* reset the text-align */
text-align:left;
/* inline-block space fix */
margin-right:-4px;
}
  .foot{
     height: 10rem;

     border: 2px solid white;
   }







.skateBar {
    background-image: url("../images/skateBar.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #C7D5EAf;
    transition: transform .2s; /* Animation */

}
.parque {
    background-image: url("../images/parque.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #C7D5EAf;
    background-size: cover;
    transition: transform .2s; /* Animation */

}
.modelo {
    background-image: url("../images/modelo.jpg");
    background-repeat: no-repeat;
    background-position: center;

    background-size: cover;
    transition: transform .2s; /* Animation */

}
.erins {
    background-image: url("../images/erins.jpg");
    background-repeat: no-repeat;
    background-position: center;

    background-size: cover;
    transition: transform .2s; /* Animation */

}
.marina {
    background-image: url("../images/marina.jpg");
    background-repeat: no-repeat;
    background-position: center;

    background-size: cover;
    transition: transform .2s; /* Animation */

}
.busStation {
    background-image: url("../images/busStation.jpg");
    background-repeat: no-repeat;
    background-position: center;

    background-size: cover;
    transition: transform .2s; /* Animation */

}
.ruina {
    background-image: url("../images/ruina.jpg");
    background-repeat: no-repeat;
    background-position: center;

    background-size: cover;
    transition: transform .2s; /* Animation */

}
.splash {
    background-image: url("../images/splash.jpg");
    background-repeat: no-repeat;
    background-position: center;

    background-size: cover;
    transition: transform .2s; /* Animation */

}
.zoo {
    background-image: url("../images/zoo.jpg");
    background-repeat: no-repeat;
    background-position: center;

    background-size: cover;
    transition: transform .2s; /* Animation */

}




.porta10 {
  background-image: url("../images/porta10.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}
.traveler {

    background-image: url("../images/traveler.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.cont {
  height: auto;
  width: 100%;
  margin:0;
}

.padding-0{
    padding-right:0;
    padding-left:0;
}

.padRight {
  padding-right: 30px;
}



.rotate {
  transform: rotate(deg);


}

.smframe2 {

width: 15rem;
height: 8rem;
margin: auto;
border: 3px solid white;
margin-top: 2rem;
box-shadow: 0 2px 2px rgba(0, 0, 0, .25);
}
.frameTrav {
width: 10rem;
height: 5rem;
margin: auto;
margin-top: 2rem;


}
.mdframe {


width: auto;
height: 22rem;
margin: auto;
border: 2px solid #F5F5DC;
margin-top: 2rem;
box-shadow: 0 2px 2px rgba(0, 0, 0, .25);
}

.frame1 {
  border: 1px solid white;
  margin-top: 2rem;
  box-shadow: 0 2px 2px rgba(0, 0, 0, .25);
}

.kakiframe{
    border-top: 3px solid #AAAFAA;

    box-shadow: 0 2px  rgba(0, 0, 0, .25);
    }


#ag {

  color:#AAAFAA;
  text-decoration:none;
}

#footerG {

  height: 12rem;
  margin-top: 0px;
  padding-top: 0px;
  background-color: #DBD8CD;
  width: 100%;

}
.footer {
  height: 18rem;
  margin-top: 0px;
  padding-top: 0px;
  width: 100%;

}
 nav a:hover {
    background-color: #F5F5DC;

}

/*Gallery css*/
.title p {
  font-family: 'Shadows Into Light Two', cursive;
  font-family: 'Merienda', cursive;
  color: white;

}
.title a {
    text-decoration: none;
}
.title a:hover {
   background-color: #DBD8CD;

}

.bg-color {
    background-color: #DBD8CD;
}


.Gallframe {
width: 20rem;
height: 16rem;
margin: auto;
border: 3px solid white;
box-shadow: 0 2px 2px rgba(0, 0, 0, .25);
}



/*Gallery*/
.gallerybod {
    background-color: #434c50;
    min-height: 100vh;
    font: normal 16px sans-serif;
    padding-bottom: 40px;

}
.container.gallery-container {
    background-color: #fff;
    color: #35373a;
    min-height: 100vh;
    padding: 30px 50px;
}

.gallery-container h1 {
    text-align: center;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
}

.gallery-container p.page-description {
    text-align: center;

    margin: 15px auto;
    font-size: 18px;
    color: #999;
}
.gallery-top-pad  {
      padding-top: 50px;
}
.tz-gallery {
    padding: 40px;
}

/* Override bootstrap column paddings */
.tz-gallery .row > div {
    padding: 2px;
}

.tz-gallery .lightbox img {
    width: 100%;
    border-radius: 0;
    position: relative;
}

.tz-gallery .lightbox:before {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -13px;
    margin-left: -13px;
    opacity: 0;
    color: #fff;
    font-size: 26px;
    font-family: 'Glyphicons Halflings';
    content: '\e003';
    pointer-events: none;
    z-index: 9000;
    transition: 0.4s;
}


.tz-gallery .lightbox:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(46, 132, 206, 0.7);
    content: '';
    transition: 0.4s;
}

.tz-gallery .lightbox:hover:after,
.tz-gallery .lightbox:hover:before {
    opacity: 1;
}

.baguetteBox-button {
    background-color: transparent !important;
}

@media(max-width: 768px) {
    body {
        padding: 0;
    }
}
