.darkBG {
  background-color: #999;
}
.darkerBG {
  background-color: #666;
}
.darkestBG {
  background-color: #333;
}
.grey {
background-color:#DCDCDC;
}
.white {
background-color: white;
padding-bottom: 60px;
}
body {
  margin: 0px;
  background-color: #AAAFAA;
}
.marR{
  margin-right: 30px;
}
.marL{
  margin-left: 30px;
}
.farmHouse {

  height: auto;
  padding-top: 70px;
  padding-bottom: 40px;
  width: 100%;
 }
 .border {
   border: 2px solid white;
 }
 .pad1 {
   padding-bottom: 1rem;
 }
 .padtop {
   padding-top: 4rem;
 }
 .stone2 {
   background-image: url("../images/stone2.jpg");
   background-repeat: no-repeat;
   margin: auto;
   background-size: cover;
   height: 400px;
   width: auto;
 }
 .three {
    height: 40rem;
    width: auto;
    border: 2px;

     line-height: 1.7;

  }
 h4 {
   font-family: 'Shadows Into Light Two', cursive;
   font-family: 'Merienda', cursive;
  }


  h2 {
    font-family: 'Shadows Into Light Two', cursive;
    font-family: 'Merienda', cursive;
  }
  .backh2 h2{
    background-color: #CECECE;
  }

p {
  font-family: 'Port Lligat Sans', sans-serif;
  font-family: 'Rajdhani', sans-serif;
}
  .foot{
     height: 10rem;

     border: 2px solid white;
   }

 {



}
.oldtown {
  background-image: url("../images/oldtown.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: transform .2s; /* Animation */
}
.bedroom {
    background-image: url("../images/bedroom.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: transform .2s; /* Animation */

}
.beach {
  background-image: url("../images/beach.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: transform .2s; /* Animation */
}
.zoom:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */

}
.armando {
  background-image: url("../images/rsz_armando.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

}


.porta10 {
  background-image: url("../images/porta10.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}
.cont {
  height: 700px;
  width: 100%;
}

.padding-0{
    padding-right:0;
    padding-left:0;
}
.pad {
  margin-left: 30px;
  margin-right:

}

 .slide div {
    height: 30rem;
    border: 1px solid white;


  }
  .slide div img {

    object-position: center;
    height: 30rem;
    width: 100%;


  }

  .navcolor {
    background-color: #C7D5EAf;
}
.rotate {
  transform: rotate(deg);


}
.smframe {

width: 20rem;
height: 16rem;
margin: auto;
border: 3px solid white;
margin-top: 2rem;
box-shadow: 0 2px 2px rgba(0, 0, 0, .25);
}
.mdframe {

width: 50rem;
height: 16rem;
margin: auto;
border: 3px solid white;
margin-top: 2rem;
box-shadow: 0 2px 2px rgba(0, 0, 0, .25);
}
#map {
   width: 50%;
   height: 200px;
   background-color: grey;}

.frame1 {
  border: 1px solid white;
  margin-top: 2rem;
  box-shadow: 0 2px 2px rgba(0, 0, 0, .25);
}
.greyframe{
  border: 3px solid #DCDCDC;
  margin-top: 2rem;
  box-shadow: 0 2px 2px rgba(0, 0, 0, .25);
  }
.frame {

  margin-top: 1rem;
  width: 70%;
  height: auto;


}
.icon{
  text-align: center;

}
footer {

  height: 10rem;
  margin-top: 0px;
  padding-top: 0px;
  background-color: #AAAFAA;

}
h4:hover, nav a:hover {
    background-color: #DBD8CD;

}
